footer {
  color: var(--color3);
  height: 60px;
  background-color: var(--color5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-image: '../footer.jpg';
}
